<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>
        <div class="container-fluid">
        <%
            if (typeof info !== 'undefined')
            {
                if (info == "user signed up")
                {
        %>
                    <div class="alert alert-success alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Registration success!</strong>.
                    </div>
        <%
                }                    
                else if (info == "Incorrect password")
                {
        %>
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Login failed!</strong> Incorrect password.
                    </div>
        <%
                }                    
                else if (info == "No user found")
                {
        %>
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Login failed!</strong> Credentials provided does not exist.
                    </div>
        <%
                }
                else if (info == "Empty fields")
                {
        %>
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Login failed!</strong> Missing fields.
                    </div>
        <%
                }
            }
        %>
            <div class="row">
                <div class="sm-col-" style="margin: auto;">
                    <div style="margin-top: 10px;">

                    </div>
                    <i style="color: black;" class="fas fa-compact-disc fa-3x"></i>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-" style="margin: auto;">
                    <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black">
                        To continue, log in to Music Room.
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 8px;">
                <div class="col-sm-" style="margin: auto;">
                    <button style="width: 250px; border-radius: 20px; background-color: #0047b3; border-color: #0047b3;" type="button" class="btn btn-primary"  onclick="window.location.href='http://localhost:3002/auth/facebook';">FACEBOOK</button>
                </div>
            </div>
            <div class="row" style="margin-bottom: 8px;">
                <div class="col-sm-" style="margin: auto;">
                    <button style="width: 250px; border-radius: 20px; background-color: #00284d; border-color: #00284d;" type="button" class="btn btn-primary"  onclick="window.location.href='http://localhost:3002/auth/42';">INTRA 42</button>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-sm-" style="margin: auto;">
                    <button style="width: 250px; border-radius: 20px; background-color: white; border-color: #333333; color: #333333;" type="button" class="btn btn-primary"  onclick="window.location.href='http://localhost:3002/auth/google';">GOOGLE</button>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-" style="margin: auto;">
                   <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black">OR</p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-" style="margin: auto;">
                   <form action="/login/verify" method="POST">
                        <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; margin-bottom: 5px;">
                            Username
                        </p>
                        <input type="text" style="width: 300px; margin-bottom: 10px;" name="username" placeholder="Username">
                        <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; margin-bottom: 5px;">
                            Password
                        </p>
                        <input type="password" style="width: 300px; margin-bottom: 12px;" name="password" placeholder="Password">
                        <div style="margin: auto; margin-bottom: 15px;">
                            <a style="color: grey; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" href="http://localhost:3002/forgot_password">Forgot your password?</a>
                        </div>
                        <input class="btn btn-outline-primary" type="submit" style="margin-left: 22px;color: white; width: 250px; border-radius: 20px; background-color: #AA076B; border-color: #AA076B;" value="LOGIN">
                   </form>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-" style="margin: auto;">
                    <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black">
                        Don't have an account?
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-sm-" style="margin: auto;">
                    <a style="width: 250px; border-radius: 20px; background-color: white; border-color: #333333; color: #333333;" type="button" class="btn btn-primary" href="/signup">SIGNUP FOR MUSIC ROOM</a>
                </div>
            </div>
        </div>
  </body>
</html>