<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>
        <div class="container-fluid">
            <div class="row">
                <div class="sm-col-" style="margin: auto;">
                    <div style="margin-top: 10px;">

                    </div>
                    <i style="color: black;" class="fas fa-compact-disc fa-3x"></i>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-" style="margin: auto;">
                    <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black">
                        Password Reset
                    </h1>
                </div>
            </div>
            <div class="row" style="margin: auto;">
                <div class="col-sm-" style="margin: auto;">
                    <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black">
                        Now that you verified your email. Enter your new password below.
                    </p>
                </div>
            </div>
            <br />
            <div class="row" style="margin-bottom: 10px; margin: auto;">
                <div class="col-sm-">
                   <form action="/reset_password" method="POST">
                        <p style="margin-left: 10px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; margin-bottom: 5px;">
                            Email
                        </p>
                        <input type="text" style="margin-left: 10px; width: 300px; margin-bottom: 10px;" name="email" placeholder="Email">
                        <br /><p style="margin-left: 10px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; margin-bottom: 5px;">
                            New Password
                        </p>
                        <input type="password" style="margin-left: 10px; width: 300px; margin-bottom: 10px;" name="password" placeholder="New password">
                        <br />
                        <input class="btn btn-outline-primary" type="submit" style=" margin-left: 40px; color: white; width: 250px; border-radius: 20px; background-color: #AA076B; border-color: #AA076B;" value="SEND">
                   </form>
                </div>
            </div>
        </div>
  </body>
</html>