<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>
        <div class="container-fluid">
            <%
                console.log("hello: "+typeof signupInfo);
                if (typeof signupInfo !== 'undefined')
                {
                    console.log("errors occred");
                    if (signupInfo == "missing fields")
                    {
            %>
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Registration failed!</strong> There are missing fields.
                        </div>
            <%
                    }
                    else if (signupInfo == "An unkown error occured")
                    {
            %>
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Registration failed!</strong> An unkonw error occured.
                        </div>
            <%
                    }
                    else if (signupInfo == "Password format is incorrect")
                    {
            %>
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Registration failed!</strong> Password format is incorrect.
                        </div>
            <%
                    }
                    else if (signupInfo == "Username format is incorrect")
                    {
            %>
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Registration failed!</strong> Username format is incorrect.
                        </div>
            <%
                    }
                    else if (signupInfo == "Emails do not match")
                    {
            %>
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Registration failed!</strong> Emails do not match.
                        </div>
            <%
                    }
                    else if (signupInfo == "Incorrect email format")
                    {
            %>
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Registration failed!</strong> Incorrect email format.
                        </div>
            <%
                    }
                    else if (signupInfo == "There are missing fields")
                    {
            %>
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Registration failed!</strong> There are missing fields.
                        </div>
            <%
                    }
                    else if (signupInfo == "Email already exists")
                    {
            %>
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Registration failed!</strong> Email already exists.
                        </div>
            <%
                    }
                    else if (signupInfo == "Username already exists")
                    {
            %>
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Registration failed!</strong> Username already exists.
                        </div>
            <%
                    }
                }
            %>
            <div class="row">
                <div class="sm-col-" style="margin: auto;">
                    <div style="margin-top: 10px;">

                    </div>
                    <i style="color: black;" class="fas fa-compact-disc fa-3x"></i>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-" style="margin: auto;">
                    <p style="font-weight: bold; font-size: larger;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black">
                        Sign up to start listening.
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 8px;">
                <div class="col-sm-" style="margin: auto;">
                    <a style="width: 250px; border-radius: 20px; background-color: #0047b3; border-color: #0047b3;" type="button" class="btn btn-primary" href="/auth/facebook">FACEBOOK</a>
                </div>
            </div>
            <div class="row" style="margin-bottom: 8px;">
                <div class="col-sm-" style="margin: auto;">
                    <button style="width: 250px; border-radius: 20px; background-color: #00284d; border-color: #00284d;" type="button" class="btn btn-primary"  onclick="window.location.href='http://localhost:3002/auth/42';">INTRA 42</button>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-sm-" style="margin: auto;">
                    <button style="width: 250px; border-radius: 20px; background-color: white; border-color: #333333; color: #333333;" type="button" class="btn btn-primary" onclick="window.location.href='http://localhost:3002/auth/google';">GOOGLE</button>
                </div>
            </div>
            <div class="row" style="margin-bottom: -7px;">
                <div class="col-sm-" style="margin: auto;">
                   <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black">OR</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-" style="margin: auto;">
                    <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black">
                        Sign up with your email address
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-" style="margin: auto;">
                   <form action="/signup" method="POST">
                        <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; margin-bottom: 5px;">
                            What is your username?
                        </p>
                        <input type="text" name="username" style="width: 300px; margin-bottom: 10px;" placeholder="Enter your username" required>
                        <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; margin-bottom: 5px;">
                            What is your email?
                        </p>
                        <input type="email" name="email" style="width: 300px; margin-bottom: 10px;" placeholder="Enter your email" required>
                        <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; margin-bottom: 5px;">
                            Confirm your email
                        </p>
                        <input type="email" name="emailConfirm" style="width: 300px; margin-bottom: 10px;" placeholder="Enter your email again." required>
                        <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black; margin-bottom: 5px;">
                            Passowrd
                        </p>
                        <input type="password" name="password" style="width: 300px; margin-bottom: 12px;" placeholder="Password" required>
                        <div style="margin: auto; margin-bottom: 15px;">
                        </div>
                        <input class="btn btn-outline-primary" type="submit" style="margin-left: 22px;color: white; width: 250px; border-radius: 20px; background-color: #AA076B; border-color: #AA076B;" value="SIGNUP">
                   </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-" style="margin: auto;">
                    <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: black">
                        Have an account? <a href="/login" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #AA076B">Log in.</a>
                    </p>
                </div>
            </div>
        </div>
  </body>
</html>